In [8]:
import os
os.chdir(r"C:\Users\user\Desktop\NaturalCosmeticsShopproject")

In [7]:
import pandas as pd

In [9]:
customers = pd.read_csv("tables/customers_natural_cosmetics.csv")
customers.head()

   customer_id    customer_name       city  gender
0            1       Anisa Kola     Tirana  Female
1            2  Ivana Kovacevic     Zagreb  Female
2            3       Sara Novak  Ljubljana  Female
3            4      Jonas Fuchs     Munich    Male
4            5   Diana Nikolova      Sofia  Female

In [10]:
products = pd.read_csv("tables/products_natural_cosmetics.csv")
products.head()

,product_id,product_name,brand_name,category,price
0,1,Flowers Facial Oil Deep Rich,Whamisa Organic,"Serums, Face Oils & Targeted Treatments",52.85
1,2,Hyaluronic Eye Serum,Evolve Organic Beauty,Eye & Lip Care / Specialized Areas,22.35
2,3,Phyto‑Active Face Oil,INIKA Organic,"Serums, Face Oils & Targeted Treatments",59.00
3,4,Sea Ceramide Toning Mist,Fitglow Beauty,"Toners, Mists & Toning Products",26.95
4,5,All Purpose Skin Cream,Egyptian Magic,Moisturizers & Creams,24.45

In [11]:
sales = pd.read_csv ("tables/sales_natural_cosmetics.csv")
sales ['sale_date'] = pd.to_datetime (sales['sale_date'], errors = 'coerce')
print (sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sale_id           5000 non-null   int64
 1   sale_date         5000 non-null   datetime64[ns]
 2   product_id        5000 non-null   int64
 3   quantity          5000 non-null   int64
 4   customer_id       5000 non-null   int64
 5   discount_applied  5000 non-null   object
 6   payment_method    5000 non-null   object
 7   discount_percent  5000 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 312.6+ KB
None

In [19]:
sales = sales.sort_values('sale_date').reset_index(drop=True)
sales['sale_id'] = range(1, len(sales) + 1)
sales.tail(20)

,sale_id,sale_date,product_id,quantity,customer_id,discount_applied,payment_method,discount_percent
4980,4981,2024-12-29,11,1,73,No,Online,0.00
4981,4982,2024-12-29,79,3,287,No,Online,0.00
4982,4983,2024-12-30,70,2,245,No,Cash,0.00
4983,4984,2024-12-30,14,1,161,No,Card,0.00
4984,4985,2024-12-30,100,2,274,No,Cash,0.00
4985,4986,2024-12-30,39,1,170,No,Online,0.00
4986,4987,2024-12-30,87,2,201,No,Online,0.00
4987,4988,2024-12-30,14,3,115,No,Cash,0.00
4988,4989,2024-12-30,81,2,239,No,Online,0.00
4989,4990,2024-12-31,37,2,15,No,Cash,0.00
4990,4991,2024-12-31,43,1,179,No,Cash,0.00
4991,4992,2024-12-31,80,2,152,No,Online,0.00
4992,4993,2024-12-31,54,3,268,Yes,Card,0.02
4993,4994,2024-12-31,8,1,186,No,Online,0.00
4994,4995,2024-12-31,99,3,166,No,Card,0.00
4995,4996,2024-12-31,92,3,243,No,Online,0.00
4996,4997,2024-12-31,37,2,17,No,Online,0.00
4997,4998,2024-12-31,77,1,268,No,Card,0.00
4998,4999,2024-12-31,14,1,277,No,Cash,0.00
4999,5000,2024-12-31,41,2,155,No,Cash,0.00

In [12]:
customers.info()
print (customers.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    325 non-null    int64
 1   customer_name  325 non-null    object
 2   city           325 non-null    object
 3   gender         325 non-null    object
dtypes: int64(1), object(3)
memory usage: 10.3+ KB
customer_id      0
customer_name    0
city             0
gender           0
dtype: int64

In [13]:
products.info()
print (products.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    115 non-null    int64
 1   product_name  115 non-null    object
 2   brand_name    115 non-null    object
 3   category      115 non-null    object
 4   price         115 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.6+ KB
product_id      0
product_name    0
brand_name      0
category        0
price           0
dtype: int64

In [13]:
sales.info()
print (sales.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sale_id           5000 non-null   int64
 1   sale_date         5000 non-null   datetime64[ns]
 2   product_id        5000 non-null   int64
 3   quantity          5000 non-null   int64
 4   customer_id       5000 non-null   int64
 5   discount_applied  5000 non-null   object
 6   payment_method    5000 non-null   object
 7   discount_percent  5000 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 312.6+ KB
sale_id             0
sale_date           0
product_id          0
quantity            0
customer_id         0
discount_applied    0
payment_method      0
discount_percent    0
dtype: int64

In [20]:
full_data = sales.merge(products, on = "product_id", how = "left")\
.merge(customers, on = "customer_id", how = "left") 
full_data.head()

,sale_id,sale_date,product_id,quantity,customer_id,discount_applied,payment_method,discount_percent,product_name,brand_name,category,price,customer_name,city,gender
0,1,2024-01-01,1,1,142,No,Card,0.0,Flowers Facial Oil Deep Rich,Whamisa Organic,"Serums, Face Oils & Targeted Treatments",52.85,Jan Dolezal,Prague,Male
1,2,2024-01-01,70,3,255,No,Online,0.0,Squalane Cleanser,The Ordinary,Cleansers & Face Washes,23.45,Nina Pavlovic,Zagreb,Female
2,3,2024-01-01,38,2,259,No,Online,0.0,Squalane Cleanser,The Ordinary,Cleansers & Face Washes,23.45,Filip Kitanov,Skopje,Male
3,4,2024-01-01,60,3,258,No,Online,0.0,Light Work Cleansing Oil,Pai Skincare,Cleansers & Face Washes,26.99,Alicja Nowicka,Krakow,Female
4,5,2024-01-01,37,2,197,No,Cash,0.0,Rosemary Mint Scalp & Hair Strengthening Oil,Mielle,Hair Care,22.25,Adina Voicu,Cluj-Napoca,Female

In [22]:
full_data = full_data.drop(['product_id', 'customer_id'], axis=1)

In [23]:
full_data ['total_revenue'] = round(full_data['price'] * full_data['quantity'] * (1 - full_data['discount_percent']), 2)
full_data ['gross_revenue'] = round(full_data['price'] * full_data['quantity'], 2)
full_data ['discount_value'] = round(full_data['price'] * full_data['quantity'] * full_data['discount_percent'], 2)
full_data.head()

,sale_id,sale_date,quantity,discount_applied,payment_method,discount_percent,product_name,brand_name,category,price,customer_name,city,gender,total_revenue,gross_revenue,discount_value
0,1,2024-01-01,1,No,Card,0.0,Flowers Facial Oil Deep Rich,Whamisa Organic,"Serums, Face Oils & Targeted Treatments",52.85,Jan Dolezal,Prague,Male,52.85,52.85,0.0
1,2,2024-01-01,3,No,Online,0.0,Squalane Cleanser,The Ordinary,Cleansers & Face Washes,23.45,Nina Pavlovic,Zagreb,Female,70.35,70.35,0.0
2,3,2024-01-01,2,No,Online,0.0,Squalane Cleanser,The Ordinary,Cleansers & Face Washes,23.45,Filip Kitanov,Skopje,Male,46.90,46.90,0.0
3,4,2024-01-01,3,No,Online,0.0,Light Work Cleansing Oil,Pai Skincare,Cleansers & Face Washes,26.99,Alicja Nowicka,Krakow,Female,80.97,80.97,0.0
4,5,2024-01-01,2,No,Cash,0.0,Rosemary Mint Scalp & Hair Strengthening Oil,Mielle,Hair Care,22.25,Adina Voicu,Cluj-Napoca,Female,44.50,44.50,0.0

In [24]:
full_data.to_csv("full_data_clean.csv", index=False)